<div class="center jumbotron">
  <h1>そのマナーいる？</h1>
  <h2>さあレビューしろ<h2>
  <%= link_to "Review the Manner!", review_path, class: "btn btn-lg btn-primary" %>
</div>
<h2>現在のレビュー対象マナーはこちら<h2>
  <% for m in @manners do %>
    <%= link_to '#'+m.manner, show_reviews_path(manner_id: m.id), class: "btn btn-lg btn-default" %>
  <% end %>
