<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "マナー評論所", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Show Reviews",   show_reviews_path %></li>
      </ul>
    </nav>
  </div>
</header>
